<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVWA-ZS6Cw7YYBSZa0YvZvW68O5Ka3xqg</string>
	<key>GCM_SENDER_ID</key>
	<string>405329001357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsindie.focusloop</string>
	<key>PROJECT_ID</key>
	<string>focus-loop-3db4a</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-loop-3db4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405329001357:ios:e704ace18c13733feb1bc4</string>
</dict>
</plist>